/*内容栏*/
.content{
	width: 1024px;
	margin: 10px auto 0px;
}
.content::after{
	/*清除浮动*/
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility: hidden;
}
.content>h2{
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
    line-height: 36px;
    color: #333;
    background: url(../img/h_line.jpg) repeat-x 20px center;
	/*border-bottom: #db6d4c 4px solid;
	margin-bottom: 30px;*/
}
.content>h2 p{
	background: #FFFFFF;
	width: 90px;
}
.content>h2 span{
	color: #FE5187;
}
.side-bar{
	width: 28%;
	float: right;
	box-sizing: border-box;
}
.content-bar{
	width: 72%;
	float: left;
	padding-top: 10px;
}

/*articlescrap模板 样式设置*/
.articlescrap{
	padding: 0 20px 20px 20px;
	position: relative;
    font: 12px/1.5 'Microsoft Yahei', 'Simsun';
    border-left: 3px solid #aaa;
    background: url(../img/r_line.jpg) repeat-y right;
}

.articlescrap::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: -7.5px;
    background: #cac1c1;
    border: 2px solid #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.articlescrap::after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility: hidden;
}
.articlescrap a{
	text-decoration: none;
	color: #000000;
}
.articlescrap figure{
	width: 25%;
	float: left;
	overflow: hidden;
}
.articlescrap figure img{
	width: 100%;
	transition: all .5s;
}
.articlescrap figure:hover img{
	transform: scale(1.1);
	transition: all .5s;
}
.articlescrap>div{
	width: 72%;
	float: right;
}
.articlescrap-title{
	font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px;
}

.articlescrap-text{
	line-height: 22px;
	color: #756F71;
}
.articlescrap-data{
	overflow: hidden;
    clear: both;
    margin: 10px 0;
    display: inline-block;
    color: #838383;
    width: 100%;
}
.articlescrap-data .type{
	margin-right:20px ;
}
.articlescrap-data .type a{
	color: #759b08;
}
.articlescrap-data .type i{
	margin-right: 5px;
	color: #F8A8A8;
}

.articlescrap-data .time{
	
}
.articlescrap-data .time i{
	margin-right: 5px;
	color: #83D2ED;
	font-size: 12px;
}
.articlescrap-data .lookall{
	background-color: #FD8A61;
	float: right;
	font-size: 14px;
	padding:5px ;
	color: #FFFFFF;
	
}
.articlescrap-data .lookall span{
	display: block;
}
.articlescrap-data .lookall i{
	font-size: 20px;
	margin-left: 8px;
	color: #FFFFFF;
}
.articlescrap:hover::before {
	background: #474645;
}
.articlescrap:hover .datetime{
	opacity: 1;
}
.articlescrap .datetime{
	width: 121px;
    height: 30px;
    position: absolute;
    left: -128px;
    top: 12px;
    z-index: 0;
    color: #FFFFFF;
    background:  url(../img/ti.png) no-repeat;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.articlescrap .datetime i{
	color: #83D2ED;
	margin-left:10px;
	margin-right: 5px;
}

/*天气css*/
#weather{
	box-sizing: border-box;
	/*width:100%;*/
	margin: 10px;
	
}
.weather-nowday{
	background-image: url(../img/weather_bg.png);
	background-size: 100% 100%;
	background-position:center center;
	color:#FFFFFF;
	border-radius: 10px;
}
.weather-nowday .title,.weather-nowday h2,.weather-nowday .info{
	padding: 10px;
}
/*天气顶部时间星期地点*/
.weather-nowday .title span:nth-child(4){
	float: right;
}
.weather-nowday .title span:nth-child(3){
	float: right;
	font-size: 12px;
	vertical-align: top;
	line-height: 16px;
}
.weather-nowday .title span:nth-child(3) i{
	text-decoration: none;
	cursor: pointer;
	color: #83D2ED;
	
}
.weather-nowday .title span:nth-child(1){
	margin-right: 10px;
}
.weather-nowday img{
}
.weather-nowday-figcaption{
	
}
.weather-nowday-figcaption h2{
	margin-top: 80px;
	text-align: center;
}
.weather-nowday-figcaption h2::after{
	/*清除浮动*/
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility: hidden;
}
.weather-nowday-figcaption h2 span{
	/*float: left;*/
}
.weather-nowday-figcaption h2 span:nth-child(1){
	display: inline-block;
	width: 100%;
	font-size: 3.5em;
}
.weather-nowday-figcaption h2 span:nth-child(2){
	font-size: 12px;
	display: inline-block;
	position: relative;
	top: -20px;	
	left: 50px;
}
.weather-nowday-figcaption h2 span:nth-child(2) p{
	width: 30px;
	vertical-align: top;
	overflow: hidden;
	display: inline-block;
}
.weather-nowday-figcaption .info{
	text-align: center;
}
.weather-nowday-figcaption .info img{
	width: 25px;
}
.weather-nowday-figcaption .info span{
	display: inline-block;
	vertical-align: top;
	height: 25px;
	line-height: 25px;
}
.weather-nowday-figcaption .state{
	box-sizing: border-box;
	border-top: 2px solid #FFFFFF;
	padding: 5px 10px;
}
.weather-nowday-figcaption .state p{
	font-size: 12px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;	
}


/*天气输入*/
.selectcity{
	position: relative;
	top: 0;
	float: right;
}
#Icityname{
	width: 80px;
	text-indent: .25em;
}
